<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBY0JKcNjReUG2Yv6D-TZv5J9YmVFucjns</string>
	<key>GCM_SENDER_ID</key>
	<string>457263733879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eunsol.socialapp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-a5557</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-a5557.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457263733879:ios:d46744d15d7d94c35e3a72</string>
	<key>DATABASE_URL</key>
	<string>https://socialapp-a5557-default-rtdb.firebaseio.com</string>
</dict>
</plist>